body{
  background-color: #934F33;

}
nav a img{
  width: 80px;
  height: 50px;

}

div nav ul li{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 24px;

}


#navbarSupportedContent a{
  color: white;

}

.navsuperior{
  background-color: Peru;


}


.navinferior{
 background-color: #934F33;

}



.btn-ttc{
  background-color: red;
}

.btn-ttc a{
  color: white;
}

.inicio-productos {
  text-align: center;
  padding: 15px;
  font-family: 'Lobster', cursive;
  text-align: center;

}

.inicio-lista-1{
  text-align: center;
  background-color: #8B4513;
  padding: 25px;
  color: white;

}

.inicio-lista-1 h3{
  font-family: 'Lobster', cursive;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  }


.inicio-lista-2{
  text-align: center;
  background-color: Peru;
  padding: 25px;
}

.inicio-lista-2 h3{
  font-family: 'Lobster', cursive;

}

.preguntas{
  margin-left: 50px;
  margin-right: 50px;
  background-color: Peru;
  border-radius: 5px;
}

.preguntas h3{
  font-family: 'Lobster', cursive;
}

.preguntas h4{
    font-family: 'Lobster', cursive;
}

.preguntas p{
  font-family: 'Gayathri', sans-serif;
}

.contacto{
  background-color: Peru;
  margin: 50px;
  padding: 20px;
  border-radius: 5px;
}

.contacto label{
  font-family: 'Lobster', cursive;
}

.contacto h3{
    font-family: 'Lobster', cursive;
}

.contacto p{
  font-family: 'Gayathri', sans-serif;
}

.contacto.btn-ttc{
  background-color: red;

}



footer{
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  background-color: #934F33;
  overflow: hidden;

}

footer div ul {
  list-style-type: none;

}

footer div ul li a{
 font-family: 'Gayathri', sans-serif;
 color: white;
}

footer h6{
  font-family: 'Lobster', cursive;
  color: white;
}

.redes a{
  display: inline;
}
