body{
  background-color: #934F33;
}
nav a img{
  width: 80px;
  height: 50px;
}

div nav ul li{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 10px;

}


#navbarSupportedContent a{
  color: white;
  display: inline-block;
}

.navsuperior{
  background-color: Peru;
  width: 20px;
}


.navinferior{
 background-color: #934F33;
}


.btn-ttc{
  background-color: #B96340;
  height: 50px;
  width: 200px;
}

.btn-ttc a{
  color: white;
  font-size: 10px;
}

.inicio-productos {
  text-align: center;
  padding: 15px;
  font-family: 'Lobster', cursive;
  text-align: center;

}

.inicio-lista-1{
  text-align: center;
  background-color: #8B4513;
  padding: 25px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;

}

.inicio-lista-1 h3{
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  font-size: 10px;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  }

.inicio-lista-1 span{
 font-size: 30px;
}



.inicio-lista-2{
  text-align: center;
  background-color: Peru;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;

}

.inicio-lista-2 h3{
  font-family: 'Lobster', cursive;

}

.inicio-lista-2 p{
  font-family: 'Gayathri', sans-serif;
  font-size: 10px;
}

.inicio-lista-2 span{
 font-size: 20px;
}


.preguntas{
  margin-left: 50px;
  margin-right: 50px;
  background-color: Peru;
  border-radius: 5px;
}

.preguntas h3{
  font-family: 'Lobster', cursive;
}

.preguntas h4{
    font-family: 'Lobster', cursive;
}

.preguntas p{
  font-family: 'Gayathri', sans-serif;
}

.contacto{
  background-color: Peru;
  margin: 50px;
  padding: 20px;
  border-radius: 5px;
}

.contacto label{
  font-family: 'Lobster', cursive;
}

.contacto h3{
    font-family: 'Lobster', cursive;
}

.contacto p{
  font-family: 'Gayathri', sans-serif;
}

.contacto btn-ttc{
  background-color: #B96340;
  font-family: 'Lobster', cursive;
  width: 50px;

}
  .Bienvenido{
   font-family: 'Lobster', cursive;
   font-size: 30px;
   color:black;
}

.Deslogearme{
  background-color:#B96340;
}

.miperfil {
  background-color:Peru;
  text-align: center;
  padding-top:10px;
  margin: 50px;
}

.carga{
  background-color: Peru;
  margin: auto 105px;
  padding: 25px;
  margin-left: 100px;
  margin-right: 50px;

}

.carga label{
    font-family: 'Lobster', cursive;
}

.carga h3{
    font-family: 'Lobster', cursive;
}
.carga textarea{
      font-family: 'Gayathri', sans-serif;
}

.carga option{
      font-family: 'Gayathri', sans-serif;
}

footer{
  background-color: #934F33;
  margin-top: 25px;
  margin-left: 130px;
}

footer div ul {
  list-style-type: none;
}

footer div ul li a{
 font-family: 'Gayathri', sans-serif;
 color: white;
 font-size: 15px;
}

footer h6{
  font-family: 'Lobster', cursive;
  color: white;
}

footer ul{
  margin: 0px;
	padding: 0px;
}

footer li{
margin: 0px;
padding: 0px;
}

footer h6{
  font-family: 'Lobster', cursive;
  color: white;
}

.redes a{
  display: inline;
}

@media only screen and (min-width:768px){

  div nav ul li{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 20px;

  }

  nav a img{
    width: 80px;
    height: 50px;
  }

  .btn-ttc {
    background-color: #B96340;
    width: 300px;

  }

  .btn-ttc a{
    color: white;
    font-size: 20px;
  }

  .navsuperior{
    width: 768px;
    margin-left: 20px;
    margin-right: 15px;
  }

  .Bienvenido{
   font-family: 'Lobster', cursive;
   font-size: 20px;
   color:black;
}

  .carga{
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;

}

.inicio-productos {
  text-align: center;
  padding: 15px;
  font-family: 'Lobster', cursive;
  text-align: center;

}

.inicio-lista-1{
  text-align: center;
  background-color: #8B4513;
  padding: 25px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.inicio-lista-1 h3{
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  }

.inicio-lista-1 span{
   font-size: 48px;
  }



.inicio-lista-2{
  text-align: center;
  background-color: Peru;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;

}

.inicio-lista-2 h3{
  font-family: 'Lobster', cursive;
  font-size: 30px;

}

.inicio-lista-2 p{
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
}

.inicio-lista-2 span{
 font-size: 48px;
}
footer{
  margin-left: 200px;

}

footer div ul li a{
 font-size: 15px;
}

footer h6{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 20px;
}


}


@media only screen and (min-width:1024px){

  div nav ul li{
    font-size: 20px;

  }

  nav a img{
    width: 80px;
    height: 50px;
  }

  .btn-ttc {
    background-color: #B96340;
    height: 70px;
    width: 350px;
  }
  .navsuperior{
    width: 700px;
    margin-left: 20px;
    margin-right: 15px;

  }

  .Bienvenido{
   font-family: 'Lobster', cursive;
   font-size: 20px;
   color:black;
}

  footer{
    margin-left: 155px;
  }

  footer div ul li a{
   font-size: 15px;
  }

  footer h6{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 20px;
  }


}
