.ESENCIA{
  text-align: center;


}
p {
  background: #f2f2f2;
  color: #494949;
  width: auto;
  margin: auto;
  text-align: center;

}
div.titulo3{
    font-family: 'Lobster', cursive;
    text-align: center;
}
.container-nosotros{
  width: 900px;
}
