.nosotros h4{
    font-family: 'Lobster', cursive;
}

.nosotros p{
  font-family: 'Gayathri', sans-serif;
}

p {
  width: auto;
  margin: auto;
  text-align: center;

}


.general{
  padding: 29px;
}

.nosotros.img{
  width: 100px;
  padding-left: 50px;


}
.nosotros{
  background-color: peru;
  padding-bottom: 20px;
}
