.preguntas h4{
    font-family: 'Lobster', cursive;
}

.preguntas p{
  font-family: 'Gayathri', sans-serif;
}

p {


  width: auto;
  margin: auto;
  text-align: center;

}


.general{
  padding: 29px;
}
.nosotros img{
  width: 100px;
  text-align: center;

}
