body {
  width: 480px;
}


#productos{
  padding: 100px;
}

button{
  padding: 50px;
}

footer div ul {
  list-style-type: none;
}

footer{
  overflow: hidden;
}

footer.footer-izq{
  position: left;
}

footer.footer-der{
  position: right;

}


@media (max-width: 540px){
  body{
    width: 540px;
  }
}


@media (max-width: 720px){
  body{
    width: 720px;
  }
}


@media (max-width: 960px){
  body{
    width: 720px;
  }
}

@@media (max-width: 1140px) {
  body{
    width: 1140px;
  }
}
